CONFIG_IDF_TARGET="esp32s3"

# Common
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_RTC_CLK_SRC_EXT_CRYS=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_TASK_WDT_TIMEOUT_S=60
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_SPIRAM=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y

# Arduino Nano ESP32, 16MB Flash, 8MB octal PSRAM @ 120Mhz (temperature sensitive, see docs)
#CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
#CONFIG_SPIRAM_MODE_OCT=y
#CONFIG_SPIRAM_SPEED_120M=y
#CONFIG_ESPTOOLPY_FLASHFREQ_120M=y

# Waveshare ESP32-S3-Zero, 4MB Flash, 2MB PSRAM @ 80Mhz
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_SPIRAM_SPEED_80M=y

# Unexpected Maker PRO-S3, 16MB Flash, 8MB PSRAM @ 80Mhz

#CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
#CONFIG_SPIRAM_SPEED_80M=y