# Arduino Nano ESP32 board uses an ESP32-S3 chip
CONFIG_IDF_TARGET="esp32s3"

# 16 MB of QIO Flash:
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# 8MB of OPI PSRAM:
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# 32kHZ crystal is used for RTC:
CONFIG_RTC_CLK_SRC_EXT_CRYS=y

# Console goes over USB Serial/JTAG peripheral:
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

CONFIG_FREERTOS_HZ=1000